@font-face {
    font-family: font1;
    src: url(./fontes/63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: font2;
    src: url(./fontes/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin flex-dir($font: 0rem) {
    display: flex;
    flex-direction: column;
    font: $font;
}

main {
    @include flex-dir(0rem);
    background-color: black;
    gap: 1rem;
    padding: 1rem;

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {

            h4 {
                color: rgb(230, 221, 221);
                font-size: 1.2rem;
                text-transform: uppercase;
                font-family: font2;
                font-weight: 200;
                padding-left: 0.5rem;
            }
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .link {
                display: none;
            }

            .cart {
                background-color: #CEBD63;
                padding: 0.1rem 0.5rem;
                border-radius: 50%;
                color: #1a1a1a;
            }

            a {
                @include flex-dir(1rem);
                flex-direction: row;
                align-items: center;
                gap: 0.7rem;
                text-decoration: none;
                color: white;
                font-family: font1;
                background-color: #1E1E1E;
                padding: 0.7rem 1rem;
                border-radius: 0.7rem;
                text-transform: uppercase;

            }

            button {
                display: none;
                padding: 1rem 1.2rem;
                background-color: #CDBD63;
                border-radius: 0.5rem;
                font-size: 1rem;
                border: none;
                font-family: font1;
                text-transform: uppercase;
                color: #1a1a1a;
                cursor: pointer;
            }

            .bars {
                color: #f4f2ed;
                background-color: #1E1E1E;
                height: 3rem;
                width: 4rem;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;

                svg {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

        }
    }

    .section1 {
        width: 100%;
        @include flex-dir(1rem);
        padding: 1.5rem;
        gap: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }

        .bottom {
            width: 100%;
            background-color: #141414;
            gap: 3rem;
            @include flex-dir(1rem);
            color: white;
            border-radius: 1rem;
            padding: 1.5rem;

            >p {
                font-size: 1rem;
                font-family: font2;
            }

            .text {
                @include flex-dir(1rem);
                gap: 1rem;

                h1 {
                    font-family: font1;
                    font-weight: 100;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    font-size: 2.6rem;
                }

                >p {
                    font-family: font1;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 2rem;
                }

                .text-btn {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    i {
                        background-color: rgba(255, 255, 255, 0.074);
                        padding: 0.7rem 0.7rem;
                        border-radius: 5rem;
                        color: white;
                        font-size: 1.5rem;
                        border: 0.1rem solid rgb(155, 150, 150);
                        cursor: pointer;
                    }

                    p {
                        font-family: font2;
                        color: white;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }

            }
        }
    }

    section.section2 {
        width: 100%;
        @include flex-dir(1rem);
        padding: 1.5rem;
        color: white;
        gap: 1rem;

        .top,
        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;

            .element {
                @include flex-dir(1rem);
                text-align: center;

                small {
                    font-size: 1rem;
                    font-family: font2;
                    letter-spacing: 0.1rem;
                    color: #fffefe;
                    opacity: 0.6;
                    font-weight: 300;
                }

                h2 {
                    font-size: 2rem;
                    font-family: font1;
                    font-weight: 300;
                    letter-spacing: 0.2rem;
                }

            }
        }
    }

    section.section3 {
        width: 100%;
        @include flex-dir(0rem);
        gap: 1rem;
        padding: 1.5rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            width: 100%;
            background-color: #141414;
            gap: 3rem;
            @include flex-dir(1rem);
            color: white;
            border-radius: 1rem;
            padding: 1.5rem;

            >p {
                font-size: 1rem;
                font-family: font2;
                text-transform: uppercase;
                margin-bottom: 4rem;
            }

            .text {
                @include flex-dir(1rem);

                h1 {
                    margin-bottom: 1rem;
                    font-family: font1;
                    font-weight: 100;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    font-size: 2.6rem;
                }

                p {
                    font-family: font2;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 2rem;
                }

            }
        }

    }

    section.section4 {
        width: 100%;
        @include flex-dir(0rem);
        gap: 1rem;
        padding: 1.5rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            width: 100%;
            background-color: #141414;
            gap: 3rem;
            @include flex-dir(1rem);
            color: white;
            border-radius: 1rem;
            padding: 1.5rem;

            >p {
                font-size: 1rem;
                font-family: font2;
                text-transform: uppercase;
                margin-bottom: 4rem;
            }

            .text {
                @include flex-dir(1rem);

                h1 {
                    margin-bottom: 1rem;
                    font-family: font1;
                    font-weight: 100;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p {
                    font-family: font2;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 2rem;
                }

            }
        }

    }

    section.section5 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        .left {
            padding: 1.5rem 0rem;

            h2 {

                font-size: 2rem;
                font-family: font2;
                font-weight: 300;
                color: rgb(243, 238, 238);
                text-transform: uppercase;

            }
        }

        .right {
            @include flex-dir(1rem);
            flex-direction: row;
            display: none;
            align-items: center;
            gap: 1rem;

            i {
                background-color: rgba(255, 255, 255, 0.074);
                padding: 0.7rem 0.7rem;
                border-radius: 5rem;
                color: white;
                font-size: 1rem;
                border: 0.1rem solid rgb(155, 150, 150);
                cursor: pointer;
            }

            p {
                font-family: font2;
                color: white;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 400;
                cursor: pointer;
            }

        }
    }

    section.section6 {
        width: 100%;
        padding: 1.5rem;
        @include flex-dir(2rem);
        gap: 1rem;

        .card {
            width: 100%;
            background-image: url(./Assests/sesction6\ img.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 0.7rem;
            @include flex-dir(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: #87868662;
                backdrop-filter: blur(7px);
                padding: 0.7rem;
                border: 1px solid rgb(144, 135, 135);
                border-radius: 0.2rem;
            }

            .top {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0.7rem;
                color: white;
                font-family: font2;
            }

        }

        .card2 {
            width: 100%;
            background-image: url(./Assests/card2.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 0.7rem;
            @include flex-dir(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: #87868662;
                backdrop-filter: blur(7px);
                padding: 0.7rem;
                border: 1px solid rgb(144, 135, 135);
                border-radius: 0.2rem;
            }

            .top {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0.7rem;
                color: white;
                font-family: font2;
            }

        }

        .card3 {
            width: 100%;
            background-image: url(./Assests/card3.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 0.7rem;
            @include flex-dir(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: #87868662;
                backdrop-filter: blur(7px);
                padding: 0.7rem;
                border: 1px solid rgb(144, 135, 135);
                border-radius: 0.2rem;
            }

            .top {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0.7rem;
                color: white;
                font-family: font2;
            }

        }
    }

    section.section7 {
        width: 100%;
        @include flex-dir(1rem);
        padding: 1.5rem;
        gap: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 1rem;
            }
        }

        .bottom {
            width: 100%;
            background-color: #141414;
            gap: 4rem;
            @include flex-dir(1rem);
            color: white;
            border-radius: 1rem;
            padding: 1.5rem;

            .text {
                @include flex-dir(1rem);
                gap: 1rem;

                p {
                    font-size: 1rem;
                    font-family: font2;
                    text-transform: uppercase;
                }

                h1 {
                    font-family: font1;
                    font-weight: 100;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    font-size: 2rem;
                }
            }

            .text-btn {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 3rem;

                i {
                    background-color: rgba(255, 255, 255, 0.074);
                    padding: 0.5rem 0.5rem;
                    border-radius: 5rem;
                    color: white;
                    font-size: 1.5rem;
                    border: 0.1rem solid rgb(155, 150, 150);
                    cursor: pointer;
                }

                p {
                    font-family: font2;
                    color: white;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }

    section.contect {
        width: 100%;
        @include flex-dir(1rem);
        background-color: #cebd63;
        padding: 2rem;
        margin-top: 1rem;
        border-radius: 0.75rem;
        .contect-text {
            // width: 100%;
            .contect-label {
                font-size: 0.875rem;
                color: #1a1a1a;
                text-transform: uppercase;
                font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
                letter-spacing: 1px;
                line-height: 160%;
                font-weight: 400;
            }

            h2 {
                font-size: 2.5rem;
                color: #1a1a1a;
                font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                line-height: 100%;
                letter-spacing: 1px;
                margin-top: 0.5rem;
            }
        }

        button {
            width: 100%;
            margin-top: 1rem;
            background-color: #121212;
            color: #f4f2ed;
            padding: 1rem 1.25rem;
            border: 1px solid transparent;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 0.75rem;
            font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;

            i {
                height: 0.875rem;
                width: 0.875rem;
                color: #f4f2ed;
            }
        }


    }

    footer {
        margin-top: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "footer-top" "footer-middle" "footer-bottom";

        .footer-top {
            grid-area: footer-top;
            background-color: #1e1e1e;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            border-radius: 0.875rem;

            h5 {
                font-size: 1.5rem;
                font-weight: 400;
                font-family: font2;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #f4f2ed;
            }

            .social-icon {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;

                a {
                    background-color: rgba(255, 255, 255, 0.0509803922);
                    border: 1px solid rgba(255, 255, 255, 0.1490196078);
                    text-align: center;
                    -webkit-backdrop-filter: blur(2rem);
                    backdrop-filter: blur(2rem);
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;

                    i {
                        color: #f4f2ed;
                        stroke-width: 1px;
                    }
                }
            }
        }

        .footer-mid {
            margin-top: 1rem;
            background-color: #1e1e1e;
            grid-area: footer-middle;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            border-radius: 0.875rem;

            .pages {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h5 {
                    font-size: 1.25rem;
                    color: #f4f2ed;
                    font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                }

                a {
                    color: rgba(244, 242, 237, 0.6);
                    font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 160%;
                }

                button {
                    display: inline-block;
                    width: auto;
                    background-color: #cebd63;
                    padding: 1rem 1.25rem;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                    border-radius: 0.875rem;
                    align-self: flex-start;
                }
            }

            .cms {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h5 {
                    font-size: 1.25rem;
                    color: #f4f2ed;
                    font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                }

                a {
                    color: rgba(244, 242, 237, 0.6);
                    font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 160%;
                }

                button {
                    display: inline-block;
                    width: auto;
                    background-color: #cebd63;
                    padding: 1rem 1.25rem;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                    border-radius: 0.875rem;
                    align-self: flex-start;
                }
            }

            .utility {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h5 {
                    font-size: 1.25rem;
                    color: #f4f2ed;
                    font-family: Chillax-Light, Gilroy, Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                }

                a {
                    color: rgba(244, 242, 237, 0.6);
                    font-family: "Roboto Mono", monospace, Gilroy, Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 160%;
                }

                button {
                    display: inline-block;
                    width: auto;
                    background-color: #cebd63;
                    padding: 1rem 1.25rem;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: 160%;
                    border-radius: 0.875rem;
                    align-self: flex-start;
                }
            }
        }

        .footer-bottom {
            grid-area: footer-bottom;
            margin-top: 1rem;
            background-color: #1e1e1e;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 0.875rem;
            color: rgba(244, 242, 237, 0.6);
            align-items: center;
            justify-content: center;
        }

        .credits-top {
            text-align: center;
            font-size: 0.875rem;
            font-family:  font2;
            letter-spacing: 1px;
            line-height: 160%;
            text-transform: uppercase;

            a {
                color: #f4f2ed;
            }
        }

        .credits-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .btn1 {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
            }

            i {
                color: white;
                border-radius: 50%;
                height: 2.5rem;
                width: 2.5rem;
                background-color: rgba(255, 255, 255, 0.0509803922);
                border: 1px solid rgba(255, 255, 255, 0.1490196078);
                padding: 0.75rem;
            }

            button {
                display: inline-block;
                background-color: transparent;
                border: none;
                align-self: flex-start;
                width: auto;
                color: white;
                font-size: 0.875rem;
                text-transform: uppercase;
                cursor: pointer;
                letter-spacing: 1px;
                font-family: font2;
            }
        }
    }
}

section {
    max-width: 2000px;
}

header {
    max-width: 2000px;
}
footer{
     max-width: 2000px;
     margin: 0 auto;
}
.contect{
    max-width: 2000px;
}

@media (min-width:900px) {
    main {
        align-items: center;

        header {
            width: 100%;
            padding: 1rem 4rem;

            .logo {
                @include flex-dir(0rem);
                padding-left: 1rem;

                h4 {
                    color: white;
                    text-transform: uppercase;
                    font-weight: 300;
                    border-radius: 0.3rem;
                    @include flex-dir(1.5rem);
                    font-family: font1;
                }
            }

            nav {
                .link {
                    display: block;
                    @include flex-dir(1rem);
                    flex-direction: row;
                    gap: 0.5rem;
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-family: font1;
                    font-size: 1rem;
                    background-color: #141414;
                    padding: 0.7rem 1.5rem;
                    border-radius: 0.4rem;
                    line-height: 160%;
                    text-transform: uppercase;
                }

                .cart {

                    background-color: #CEBD63;
                    padding: 0.1rem 0.5rem;
                    border-radius: 50%;
                    color: #1a1a1a;
                }

                button {
                    text-decoration: none;
                    color: #2B2C21;
                    font-family: font1;
                    font-size: 1rem;
                    background-color: #CEBD63;
                    padding: 0.7rem 1.2rem;
                    border-radius: 0.4rem;
                    line-height: 160%;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    display: inline-block;
                }

                .bars {
                    display: none;
                }
            }
        }

        section.section1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;
                background-color: #1E1E1E;

                >p {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }

                .text {
                    flex-direction: column;
                    gap: 1.5rem;

                    h1 {
                        font-size: 4rem;
                        line-height: 4rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;

                    }
                }
            }
        }

        section.section2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.section3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;

                img {
                    width: 100%;
                    border-radius: 0.7rem;
                }
            }

            .bottom {
                justify-content: space-between;

                .text {
                    h1 {
                        font-size: 3rem;
                        line-height: 3.5rem;
                    }

                    .paragraps {
                        display: flex;
                        align-items: center;
                        gap: 2rem;

                        p {
                            font-family: font2;
                            font-size: 1rem;
                            font-weight: 300;

                        }
                    }
                }

            }
        }

        section.section4 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {

                width: 50%;

                img {
                    width: 100%;
                    border-radius: 0.7rem;
                }
            }

            .bottom {
                justify-content: space-between;
                padding: 2rem;

                .text {
                    h1 {
                        font-size: 3rem;
                        line-height: 3.5rem;
                    }

                    .paragraps {
                        display: flex;
                        align-items: center;
                        gap: 2rem;

                        p {
                            font-family: font2;
                            font-size: 1rem;
                            font-weight: 300;

                        }
                    }
                }

            }
        }

        section.section5 {
            padding: 1rem 4rem;

            .left {
                h2 {
                    font-size: 3rem;
                }
            }

            .right {
                padding: 1.5rem 0rem;
                display: flex;

            }
        }

        section.section6 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.section7 {
            flex-direction: row;
            padding: 1rem 4rem;

            .bottom {
                @include flex-dir(2rem);
                padding: 4rem;
                justify-content: space-between;
            }
        }

        section.contect {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 4rem;

            .contect-text {
                .contect-label {
                    font-size: 1.2rem;
                    color: #232020;
                    text-transform: uppercase;
                    font-family: font2;
                    letter-spacing: 1px;
                    line-height: 160%;
                    font-weight: 400;
                }

                h2 {
                    font-size: 4.5rem;
                    color: #141313;
                    font-family: font2;
                    font-weight: 300;
                    text-transform: uppercase;
                    // line-height: 100%;

                }
            }

            button {
                width: 10%;
                padding: 1rem;
                font-size: 0.7rem;
            }
        }

        footer {
            width: 100%;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 4fr 1fr;
            grid-template-areas: "footer-top footer-middle" "footer-top footer-bottom";
            gap: 1rem;

            .footer-top {
                justify-content: space-between;
            }

            .footer-mid {
                margin-top: 0;
                flex-direction: row;
                justify-content: space-between;
            }

            .footer-bottom {
                margin-top: 0;
                padding: 1rem;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}